//Universal rules
.mobile-heading {
	color: rgba(0,0,0,0.38);
	font-family: Helvetica;
	font-size: 3rem;
	font-weight: 300;
}

.mobile-padding {
  padding-left: 2.0625rem;
  padding-right: 2.0625rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1.33%;
}

button {
  background-color: #009ADA;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 2rem;
  letter-spacing: 0.29px;
  text-align: center;
  border-radius: 3rem;
  line-height: 5rem;
  width: 100%;
}


 header {
  &.invisible {
    position: relative;
    visibility: hidden;
  }
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: white;
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .brand-left {
      display: block;
      width: 22.67%;
      img {
        width: 100%;
      }
    }
    .brand-right {
      width: 33.39%;
      img {
        width: 100%;
      }
    }
  }
}

.content {

  .landing-page {
    .garage {
      width: 100%;
      margin-bottom: 10rem;
    }
    h1 {
      margin-bottom: 10rem;
      grid-column: col-start 2 / span 10;
    }
    .date-and-time,
    .location {
      margin-top: 3rem;
      img {
        grid-column: col-start 2 / span 1;
        width: 100%;
      }
      .text {
        grid-column: col-start 4 / span 8;
        span {
          display: block;
          color: rgba(0,0,0,0.38);
          font-family: Helvetica;
          font-size: 1.625rem;
          font-weight: 300;
        }
      }
    }

    .button-container {
      margin-top: 10rem;
      button {
        grid-column: col-start 2 / span 10;
        background-color: #009ADA;
      	color: #FFFFFF;
      	font-family: Helvetica;
        font-size: 2rem;
      	letter-spacing: 0.29px;
      	text-align: center;
        border-radius: 3rem;
        line-height: 5rem;
        margin-top: 2rem;
      }
    }
  }

  .signup-page {
    margin-top: 5rem;
    .body {
      grid-column: col-start 2 / span 10;
    }
    .form-container {
      margin-top: 3rem;
      input {
        margin-top: 1rem;
        display: block;
        font-family: Helvetica;
        font-size: 2.3rem;
        font-weight: 300;
        color: black;
        &::placeholder {
          color: rgba(0,0,0,0.38);
          font-style: normal;
        }
        &.faulty {
          color: red;
        }
        &.missing {
          color: red;
          font-style: italic;
        }
      }
    }
    .entourage {
      margin: 5rem 0;
      .form-container {
        display: none;
      }
      .hidden_checkbox {
        display: none;
        &:checked {
          ~ .visible_checkbox {
            img {
              background-color: #009ADA;
            }
          }
          ~ .form-container {
            display: block;
          }
        }
      }
      img {
        background-color: white;
        width: 2.3rem;
        padding: .2rem;
        box-sizing: border-box;
        border: 0.125rem solid #009ADA;
        border-radius: 10%;
        display: inline-block;
      }
      .text {
        font-family: Helvetica;
        font-size: 1rem;
        font-weight: 300;
        color: #009ADA;
        margin-left: 2rem;
      }
    }
  }
}
