/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mobile-heading {
  color: rgba(0, 0, 0, 0.38);
  font-family: Helvetica;
  font-size: 3rem;
  font-weight: 300;
}

.mobile-padding {
  padding-left: 2.0625rem;
  padding-right: 2.0625rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1.33%;
}

header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
header.invisible {
  position: relative;
  visibility: hidden;
}
header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .brand .brand-left {
  display: block;
  width: 22.67%;
}
header .brand .brand-left img {
  width: 100%;
}
header .brand .brand-right {
  width: 33.39%;
}
header .brand .brand-right img {
  width: 100%;
}

.content .landing-page .garage {
  width: 100%;
  margin-bottom: 10rem;
}
.content .landing-page h1 {
  margin-bottom: 10rem;
  grid-column: col-start 2/span 10;
}
.content .landing-page .date-and-time,
.content .landing-page .location {
  margin-top: 3rem;
}
.content .landing-page .date-and-time img,
.content .landing-page .location img {
  grid-column: col-start 2/span 1;
  width: 100%;
}
.content .landing-page .date-and-time .text,
.content .landing-page .location .text {
  grid-column: col-start 4/span 8;
}
.content .landing-page .date-and-time .text span,
.content .landing-page .location .text span {
  display: block;
  color: rgba(0, 0, 0, 0.38);
  font-family: Helvetica;
  font-size: 1.625rem;
  font-weight: 300;
}
.content .landing-page .button-container {
  margin-top: 10rem;
}
.content .landing-page .button-container button {
  grid-column: col-start 2/span 10;
  background-color: #009ADA;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 2rem;
  letter-spacing: 0.29px;
  text-align: center;
  border-radius: 1em;
  line-height: 5rem;
  margin-top: 2rem;
}

img {
  display: block;
}

/*# sourceMappingURL=style.css.map */
